<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AuctionRatingReviewMapper">
	<resultMap id="auctionRatingReview" type="ratingReview">
		<result property="auctionInfo.auctionProductNo"			column="product_no" 				/>
		<result property="auctionInfo.addReviewCount"			column="review_count" 				/>
		<result property="auctionInfo.user.id"					column="registrant_id" 				/>
		<result property="auctionInfo.info"						column="product_name" 				/>	
		<result property="user.id" 								column="user_id" 					/>
		<result property="user.role" 							column="role"	 					/>
		<result property="ratingReviewNo" 						column="rating_review_no" 			/>
		<result property="ratingReviewStatus"					column="rating_review_status" 		/>
		<result property="ratingReviewTitle"					column="rating_review_title" 		/>
		<result property="ratingReviewContent"					column="rating_review_content" 		/>
		<result property="reviewRegDate" 						column="review_reg_date" 			/>
		<result property="comment" 								column="comment" 					/>
		<result property="commentRegDate"						column="comment_reg_date" 			/>
		<result property="statusRating" 						column="status_rating" 				/>
		<result property="priceRating" 							column="price_rating" 				/>
		<result property="kindnessRating" 						column="kindness_rating" 			/>
		<result property="avgRating" 							column="avg_rating" 				/>
		<result property="img1" 								column="review_img1" 				/>
		<result property="reviewDeleteFlag" 					column="review_delete_flag" 		/>
		<result property="commentDeleteFlag" 					column="comment_delete_flag" 		/>
	</resultMap>
	
	<insert id="addAuctionRatingReview" parameterType="ratingReview" >
		INSERT INTO RATING_REVIEW
		(user_id, product_no, rating_review_content, review_reg_date, status_rating, price_rating, kindness_rating, review_img1)
		VALUES
		(#{user.id}, #{auctionInfo.auctionProductNo}, #{ratingReviewContent}, NOW(), #{statusRating}, #{priceRating}, #{kindnessRating}, #{img1});
	</insert>
	
	<update id="addAuctionRatingReviewComment" parameterType="ratingReview" >
		UPDATE RATING_REVIEW
		SET comment = #{comment},
			comment_reg_date = NOW()
		WHERE product_no = #{auctionInfo.auctionProductNo}
	</update>
	
	<select id="listMyRatingReview" parameterType="map" resultMap="auctionRatingReview">
		SELECT rating_review_no, ap.product_no AS product_no, registrant_id, product_name, review_reg_date, ROUND((status_rating+price_rating+kindness_rating)/3,2) AS avg_rating
		FROM AUCTION_PRODUCT ap, RATING_REVIEW rr
		WHERE ap.product_no = rr.product_no AND user_id = #{user.id}
		LIMIT #{search.pageSize} OFFSET #{search.offset}
	</select>
	
	<select id="countMyRatingReview" parameterType="String" resultType="int">
		SELECT COUNT(rr.rating_review_no)
		FROM(	SELECT rating_review_no, ap.product_no AS product_no, registrant_id, product_name, review_reg_date, ROUND((status_rating+price_rating+kindness_rating)/3,2) AS avg_rating
				FROM AUCTION_PRODUCT ap, RATING_REVIEW rr
				WHERE ap.product_no = rr.product_no AND user_id = #{value}) AS rr
	</select>
	
	<select id="listAuctionRatingReview" parameterType="map" resultMap="auctionRatingReview">
		SELECT  rc.review_count AS review_count, rating_review_no, ap.registrant_id AS registrant_id, user_id, rr.product_no AS product_no, ap.product_name AS product_name, rating_review_content,
				review_reg_date, comment, comment_reg_date, ROUND((status_rating+price_rating+kindness_rating)/3,2) AS avg_rating, review_img1, review_delete_flag, comment_delete_flag
				
		FROM RATING_REVIEW AS rr, AUCTION_PRODUCT AS ap, 	(	SELECT 	COUNT(rating_review_no) review_count
																FROM 	RATING_REVIEW AS rrw, AUCTION_PRODUCT AS apt
																WHERE 	registrant_id = #{auctionProduct.registrantId} AND rrw.product_no = apt.product_no 
																		AND (review_delete_flag = 'N' OR comment_delete_flag = 'N')
															) AS rc 
													
		WHERE ap.registrant_id = #{auctionProduct.registrantId} AND rr.product_no = ap.product_no AND (review_delete_flag = 'N' OR comment_delete_flag = 'N')
		LIMIT #{search.pageSize} OFFSET #{search.offset}
	</select>
	
	<select id="getRegistrantAvgRating" parameterType="String" resultMap="auctionRatingReview">
		SELECT ROUND( (AVG(status_rating) + AVG(price_rating) + AVG(kindness_rating) )/3,2) AS avg_rating, registrant_id AS user_id
		FROM RATING_REVIEW AS rr, AUCTION_PRODUCT AS ap
		WHERE rr.product_no = ap.product_no AND registrant_id = #{value}
	</select>
	
	<select id="getAuctionRatingReview" parameterType="int" resultMap="auctionRatingReview">
		SELECT rating_review_no, user_id, product_no, rating_review_content, review_reg_date, comment, comment_reg_date, status_rating, price_rating, 
				kindness_rating, review_img1, review_delete_flag, comment_delete_flag
		FROM RATING_REVIEW
		WHERE rating_review_no = #{value}
	</select>
	
	<update id="updateAuctionRatingReview" parameterType="ratingReview">
		UPDATE RATING_REVIEW
		SET	rating_review_content = #{ratingReviewContent},
			review_reg_date = NOW(),
			status_rating = #{statusRating},
			price_rating = #{priceRating},
			kindness_rating = #{kindnessRating},
			review_img1 = #{img1}
		WHERE product_no = #{auctionInfo.auctionProductNo}	
	</update>
	
	<update id="deleteAuctionRatingReview" parameterType="ratingReview">
		UPDATE RATING_REVIEW
		<set>
			<if test="ratingReviewStatus == 0">
				review_delete_flag = 'Y'
			</if>
			<if test="ratingReviewStatus == 1">
				comment_delete_flag = 'Y'
			</if>
		</set>
		WHERE rating_review_no = #{ratingReviewNo}
	</update>
	
</mapper>