<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CampBusinessMapper"> 	
 		
	<resultMap id="campSelectMap" type="camp">
		<result property="campNo" 						column="camp_no" 		  					jdbcType="NUMERIC"/>
		<result property="user.id"						column="user_id" 		  					jdbcType="VARCHAR"/>
		<result property="campTempSave" 				column="tempsave_flag" 	  					jdbcType="CHAR"/>
		<result property="deleteFlag" 					column="delete_flag"  						jdbcType="CHAR"/>
		<result property="campSummery" 					column="camp_summery" 			  			jdbcType="VARCHAR"/>
		<result property="campDetail" 					column="camp_detail" 	  					jdbcType="VARCHAR"/>
		<result property="campMapImg" 					column="camp_map_img" 					 	jdbcType="VARCHAR"/>
		<result property="campImg1" 					column="camp_img1" 							jdbcType="VARCHAR"/>
		<result property="campImg2" 					column="camp_img2"  						jdbcType="VARCHAR"/>
		<result property="campImg3" 					column="camp_img3" 			  				jdbcType="VARCHAR"/>
		<result property="campImg4" 					column="camp_img4" 	  						jdbcType="VARCHAR"/>
		<result property="campImg5" 					column="camp_img5" 		 					jdbcType="VARCHAR"/>
		<result property="campViewCountCurrentMonth"	column="camp_view_count_previous_month"		jdbcType="NUMERIC"/>
		<result property="campViewCountPreviousMonth"	column="camp_view_count_current_month"  	jdbcType="NUMERIC"/>
		<result property="campReservationCount" 		column="camp_reservation_count" 			jdbcType="NUMERIC"/>
		<result property="campRegDate" 					column="camp_reg_date" 	  					jdbcType="DATE"/>
		<result property="campTheme1" 					column="camp_theme1" 		 				jdbcType="VARCHAR"/>
		<result property="campTheme2" 					column="camp_theme2" 						jdbcType="VARCHAR"/>
		<result property="campNature1" 					column="camp_nature1"  						jdbcType="VARCHAR"/>
		<result property="campNature2" 					column="camp_nature2" 			  			jdbcType="VARCHAR"/>
		<result property="campOperation1" 				column="camp_operation1" 	  				jdbcType="VARCHAR"/>
		<result property="campOperation2" 				column="camp_operation2" 		 			jdbcType="VARCHAR"/>
		<result property="campName" 					column="camp_name" 							jdbcType="VARCHAR"/>
		<result property="campAddr" 					column="addr" 								jdbcType="VARCHAR"/>
		<result property="campCall" 					column="camp_call" 							jdbcType="VARCHAR"/>
		<result property="campRate" 					column="camp_rating" 						jdbcType="DOUBLE"/>		
	</resultMap>
	
	<resultMap id="mainSiteSelectMap" type="mainSite">
		<result property="mainSiteNo" 						column="mainsite_no" 		  				jdbcType="NUMERIC"/>
		<result property="campNo"							column="camp_no" 		  					jdbcType="NUMERIC"/>
		<result property="mainSiteType" 					column="mainsite_type" 	  					jdbcType="VARCHAR"/>
		<result property="deleteFlag" 						column="delete_flag"  						jdbcType="CHAR"/>
		<result property="mainSiteName" 					column="mainsite_name" 			  			jdbcType="VARCHAR"/>
		<result property="mainSiteSection" 					column="mainsite_section" 	  				jdbcType="VARCHAR"/>
		<result property="mainSiteSize" 					column="mainsite_size" 		 				jdbcType="VARCHAR"/>
		<result property="mainSiteMinCapacity" 				column="mainsite_min_capacity" 				jdbcType="NUMERIC"/>
		<result property="mainSiteMaxCapacity" 				column="mainsite_max_capacity" 				jdbcType="NUMERIC"/>
		<result property="mainSiteMinPrice" 				column="mainsite_min_price" 				jdbcType="NUMERIC"/>
		<result property="mainSiteAddPrice" 				column="mainsite_add_price" 				jdbcType="NUMERIC"/>
		<result property="mainSiteParkingSize" 				column="mainsite_parking_size" 				jdbcType="NUMERIC"/>
		<result property="mainSiteInfo" 					column="mainsite_info" 						jdbcType="VARCHAR"/>
		<result property="mainSiteReservationStart" 		column="mainsite_reservation_start" 		jdbcType="DATE"/>
		<result property="mainSiteReservationEnd"			column="mainsite_reservation_end" 			jdbcType="DATE"/>
		<result property="mainSiteReservationUserName"		column="mainsite_reservation_user_name"		jdbcType="VARCHAR"/>
		<result property="mainSiteRegDate" 					column="mainsite_reg_date" 					jdbcType="DATE"/>
		<result property="mainSiteImg1" 					column="mainsite_img1" 						jdbcType="VARCHAR"/>
		<result property="mainSiteImg2" 					column="mainsite_img2" 						jdbcType="VARCHAR"/>
		<result property="mainSiteImg3" 					column="mainsite_img3" 						jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="subSiteSelectMap" type="subSite">
		<result property="subSiteNo" 			column="subsite_no" 		  	jdbcType="NUMERIC"/>
		<result property="campNo"				column="camp_no" 		  		jdbcType="NUMERIC"/>
		<result property="subSiteType" 			column="subsite_type" 	  		jdbcType="VARCHAR"/>
		<result property="subSiteRegDate" 		column="subsite_reg_date"  		jdbcType="DATE"/>
		<result property="subSiteName" 			column="subsite_name" 			jdbcType="VARCHAR"/>
		<result property="subSiteInfo" 			column="subsite_info" 	  		jdbcType="VARCHAR"/>
		<result property="subSiteImg" 			column="subsite_img" 		 	jdbcType="VARCHAR"/>
		<result property="campName" 			column="camp_name" 				jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- SQL : TotalCount ################################################################################################################### -->
	
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT	c.camp_no, c.delete_flag, c.camp_reg_date, u.user_id, u.camp_name, u.camp_call, u.addr,   
						c.camp_view_count_previous_month, c.camp_view_count_current_month, c.camp_reservation_count, c.camp_rating	
				
				FROM CAMP c, USERS u
				WHERE c.user_id = u.user_id 
				ORDER BY camp_no ) countTable						
	</select>
	
	
	<!-- SQL : Camp ################################################################################################################### -->

	<insert id="addCamp"	parameterType="camp" >	
		INSERT 
		INTO CAMP ( user_id, tempsave_flag, camp_summery, camp_detail, camp_reg_date,
					camp_map_img, camp_img1, camp_img2, camp_img3, camp_img4, camp_img5, 
					camp_theme1, camp_theme2, camp_nature1, camp_nature2, camp_operation1, camp_operation2)			
		VALUES	 ( #{user.id:VARCHAR}
					, #{campTempSave :CHAR}
					, #{campSummery :VARCHAR}
					, #{campDetail :VARCHAR}
					, #{campRegDate :DATE}
					, #{campMapImg :VARCHAR}
					, #{campImg1 :VARCHAR}
					, #{campImg2 :VARCHAR}
					, #{campImg3 :VARCHAR}
					, #{campImg4 :VARCHAR}
					, #{campImg5 :VARCHAR}
					, #{campTheme1 :VARCHAR}
					, #{campTheme2 :VARCHAR}
					, #{campNature1 :VARCHAR}
					, #{campNature2 :VARCHAR}
					, #{campOperation1 :VARCHAR}
					, #{campOperation2 :VARCHAR} )
	</insert>

	<select id="getCamp"	parameterType="int"	resultMap="campSelectMap">
		SELECT 	*
		FROM CAMP
		WHERE camp_no = #{value}
	</select>
	
	<select  id="listCamp"  parameterType="search"	resultMap="campSelectMap">
	  	SELECT c.camp_no, c.delete_flag, c.camp_reg_date, u.user_id, u.camp_name, u.camp_call, u.addr,   
				c.camp_view_count_previous_month, c.camp_view_count_current_month, c.camp_reservation_count, c.camp_rating						  		
		FROM CAMP c, USERS u
		WHERE c.user_id = u.user_id 
		ORDER BY camp_no 
		LIMIT 10 OFFSET 0;			
	</select>
	
	<update	id="deleteCamp"	parameterType="int" >
	   	UPDATE CAMP
	   	SET delete_flag = 'T'
	   	WHERE camp_no = #{value}
	</update>
	
	
	
	
	<!-- SQL : MainSite ################################################################################################################### -->
	
	<insert id="addMainSite"	parameterType="mainSite" >	
		INSERT 
		INTO MAINSITE ( camp_no, mainsite_type, mainsite_name, mainsite_section, mainsite_size, 
						mainsite_min_capacity, mainsite_max_capacity, mainsite_min_price, mainsite_add_price, mainsite_parking_size, 
						mainsite_info, mainsite_reg_date, mainsite_img1, mainsite_img2, mainsite_img3 )	
		VALUES	 ( #{campNo :NUMERIC}
					, #{mainSiteType :VARCHAR}
					, #{mainSiteName :VARCHAR}
					, #{mainSiteSection :VARCHAR}
					, #{mainSiteSize :VARCHAR}
					, #{mainSiteMinCapacity :NUMERIC}
					, #{mainSiteMaxCapacity :NUMERIC}
					, #{mainSiteMinPrice :NUMERIC}
					, #{mainSiteAddPrice :NUMERIC}
					, #{mainSiteParkingSize :NUMERIC}
					, #{mainSiteInfo :VARCHAR}
					, #{mainSiteRegDate :DATE}
					, #{mainSiteImg1 :VARCHAR}
					, #{mainSiteImg2 :VARCHAR}
					, #{mainSiteImg3 :VARCHAR} )
	</insert>

	<select id="getMainSite"	parameterType="int"	resultMap="mainSiteSelectMap">
		SELECT 	*
		FROM MAINSITE
		WHERE mainsite_no = #{value}
	</select>
	
	<select  id="listMainSite"  parameterType="search"	resultMap="mainSiteSelectMap">
	  	SELECT  delete_flag, camp_no, mainsite_no, mainsite_type, mainsite_name, mainsite_section,  
	  			mainsite_reservation_start, mainsite_reservation_end, mainsite_reservation_user_name					  		
		FROM MAINSITE
		ORDER BY mainsite_no 
		LIMIT 10 OFFSET 0;			
	</select>
	
	<update	id="deleteMainSite"	parameterType="int" >
	   	UPDATE MAINSITE
	   	SET	delete_flag = 'T'
	   	WHERE mainsite_no = #{value}
	</update>
	
	
	
	
	<!-- SQL : SubSite ################################################################################################################### -->

	<insert id="addSubSite"	parameterType="subSite" >	
		INSERT 
		INTO SUBSITE (camp_no, subsite_type, subsite_reg_date, subsite_name, subsite_info)
		VALUES	 (	#{campNo:NUMERIC} 
					, #{subSiteType :VARCHAR} 
					, #{subSiteRegDate :DATE} 
					, #{subSiteName :VARCHAR} 
					, #{subSiteInfo :VARCHAR} )
	</insert>

	<select id="getSubSite"	parameterType="int"	resultMap="subSiteSelectMap">
		SELECT 	*
		FROM SUBSITE
		WHERE subsite_no = #{value}
	</select>
	
	<select  id="listSubSite"  parameterType="search"	resultMap="subSiteSelectMap">
	  	SELECT  camp_no, subsite_no,  subsite_name, subsite_type					  		
		FROM SUBSITE
		ORDER BY subsite_no 
		LIMIT 10 OFFSET 0;			
	</select>
	
	<delete id="deleteSubSite" parameterType="int">
        DELETE FROM SUBSITE 
        WHERE subsite_no = #{value}
    </delete>
	
	
	
	
	

</mapper>