<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CampBusinessMapper"> 	
 		
	<resultMap id="campSelectMap" type="camp">
		<result property="campNo" 						column="camp_no" 		  					jdbcType="NUMERIC"/>
		<result property="user.id"						column="user_id" 		  					jdbcType="VARCHAR"/>
		<result property="user.campName" 				column="camp_name" 							jdbcType="VARCHAR"/>
		<result property="user.addr" 					column="addr" 								jdbcType="VARCHAR"/>
		<result property="user.campCall" 				column="camp_call" 							jdbcType="VARCHAR"/>		
		<result property="campTempSave" 				column="tempsave_flag" 	  					jdbcType="NUMERIC"/>
		<result property="deleteFlag" 					column="delete_flag"  						jdbcType="CHAR"/>
		<result property="campSummery" 					column="camp_summery" 			  			jdbcType="VARCHAR"/>
		<result property="campDetail" 					column="camp_detail" 	  					jdbcType="VARCHAR"/>
		<result property="campMapImg" 					column="camp_map_img" 					 	jdbcType="VARCHAR"/>
		<result property="campImg1" 					column="camp_img1" 							jdbcType="VARCHAR"/>
		<result property="campImg2" 					column="camp_img2"  						jdbcType="VARCHAR"/>
		<result property="campImg3" 					column="camp_img3" 			  				jdbcType="VARCHAR"/>
		<result property="campImg4" 					column="camp_img4" 	  						jdbcType="VARCHAR"/>
		<result property="campImg5" 					column="camp_img5" 		 					jdbcType="VARCHAR"/>
		<result property="campViewCountCurrentMonth"	column="camp_view_count_previous_month"		jdbcType="NUMERIC"/>
		<result property="campReservationCount" 		column="camp_reservation_count" 			jdbcType="NUMERIC"/>
		<result property="campRegDate" 					column="camp_reg_date" 	  					jdbcType="DATE"/>
		<result property="campTheme1" 					column="camp_theme1" 		 				jdbcType="VARCHAR"/>
		<result property="campTheme2" 					column="camp_theme2" 						jdbcType="VARCHAR"/>
		<result property="campNature1" 					column="camp_nature1"  						jdbcType="VARCHAR"/>
		<result property="campNature2" 					column="camp_nature2" 			  			jdbcType="VARCHAR"/>
		<result property="campOperation1" 				column="camp_operation1" 	  				jdbcType="VARCHAR"/>
		<result property="campOperation2" 				column="camp_operation2" 		 			jdbcType="VARCHAR"/>
		<result property="campRate" 					column="camp_rating" 						jdbcType="DOUBLE"/>		
	</resultMap>
	
	<resultMap id="mainSiteSelectMap" type="mainSite">
		<result property="mainSiteNo" 						column="mainsite_no" 		  				jdbcType="NUMERIC"/>
		<result property="campNo"							column="camp_no" 		  					jdbcType="NUMERIC"/>
		<result property="mainSiteType" 					column="mainsite_type" 	  					jdbcType="VARCHAR"/>
		<result property="deleteFlag" 						column="delete_flag"  						jdbcType="CHAR"/>
		<result property="mainSiteName" 					column="mainsite_name" 			  			jdbcType="VARCHAR"/>
		<result property="mainSiteSection" 					column="mainsite_section" 	  				jdbcType="VARCHAR"/>
		<result property="mainSiteSize" 					column="mainsite_size" 		 				jdbcType="VARCHAR"/>
		<result property="mainSiteMinCapacity" 				column="mainsite_min_capacity" 				jdbcType="NUMERIC"/>
		<result property="mainSiteMaxCapacity" 				column="mainsite_max_capacity" 				jdbcType="NUMERIC"/>
		<result property="mainSiteMinPrice" 				column="mainsite_min_price" 				jdbcType="NUMERIC"/>
		<result property="mainSiteAddPrice" 				column="mainsite_add_price" 				jdbcType="NUMERIC"/>
		<result property="mainSiteParkingSize" 				column="mainsite_parking_size" 				jdbcType="NUMERIC"/>
		<result property="mainSiteInfo" 					column="mainsite_info" 						jdbcType="VARCHAR"/>
		<result property="mainSiteReservationStart" 		column="mainsite_reservation_start" 		jdbcType="DATE"/>
		<result property="mainSiteReservationEnd"			column="mainsite_reservation_end" 			jdbcType="DATE"/>
		<result property="mainSiteReservationUserName"		column="mainsite_reservation_user_name"		jdbcType="VARCHAR"/>
		<result property="mainSiteRegDate" 					column="mainsite_reg_date" 					jdbcType="DATE"/>
		<result property="mainSiteImg1" 					column="mainsite_img1" 						jdbcType="VARCHAR"/>
		<result property="mainSiteImg2" 					column="mainsite_img2" 						jdbcType="VARCHAR"/>
		<result property="mainSiteImg3" 					column="mainsite_img3" 						jdbcType="VARCHAR"/>
		<result property="campName" 						column="camp_name" 							jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="subSiteSelectMap" type="subSite">
		<result property="subSiteNo" 			column="subsite_no" 		  	jdbcType="NUMERIC"/>
		<result property="campNo"				column="camp_no" 		  		jdbcType="NUMERIC"/>
		<result property="subSiteType" 			column="subsite_type" 	  		jdbcType="VARCHAR"/>
		<result property="subSiteRegDate" 		column="subsite_reg_date"  		jdbcType="DATE"/>
		<result property="subSiteName" 			column="subsite_name" 			jdbcType="VARCHAR"/>
		<result property="subSiteInfo" 			column="subsite_info" 	  		jdbcType="VARCHAR"/>
		<result property="subSiteImg" 			column="subsite_img" 		 	jdbcType="VARCHAR"/>
		<result property="campName" 			column="camp_name" 				jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<!-- SQL : Camp ################################################################################################################### -->

	<insert id="getRegNumInCamp" parameterType="camp" >	
		INSERT 
		INTO CAMP ( user_id, camp_reg_date, camp_theme1, camp_theme2, 
					camp_nature1, camp_nature2, camp_operation1, camp_operation2)			
		VALUES	 ( #{user.id}
					, #{campRegDate}					
					, #{campTheme1}
					, #{campTheme2}
					, #{campNature1}
					, #{campNature2}
					, #{campOperation1}
					, #{campOperation2} )
	</insert>
		
	<select	id="getRegNumOutCamp" parameterType="camp" resultType="int">
	   	SELECT camp_no
	   	FROM CAMP
	   	WHERE camp_reg_date = #{campRegDate}
	   		AND user_id = #{user.id}
	</select>

	<select id="getCamp" parameterType="int" resultMap="campSelectMap">
		SELECT 	*
		FROM CAMP
		WHERE camp_no = #{value}
	</select>
	
	<select id="listCamp" parameterType="search" resultMap="campSelectMap">
  		SELECT c.camp_no, c.delete_flag, c.camp_reg_date, u.user_id, u.camp_name, u.camp_call, u.addr,   
				c.camp_view_count_current_month, c.camp_reservation_count, c.camp_rating  								  		
		FROM CAMP c, USERS u
		WHERE c.user_id = u.user_id					
		ORDER BY camp_no 
		LIMIT #{pageSize} OFFSET #{offset};			
	</select>
	
	<select id="getTotalCountCamp" parameterType="search" resultType="int">
	  	SELECT COUNT(*)
	  	FROM( SELECT c.camp_no, c.delete_flag, c.camp_reg_date, u.user_id, u.camp_name, u.camp_call, u.addr,
	  					c.camp_view_count_current_month, c.camp_reservation_count, c.camp_rating  								  		
				FROM CAMP c, USERS u
				WHERE c.user_id = u.user_id
			) countTable						
	</select>
	
	<update	id="updateCamp" parameterType="camp" >
	   	UPDATE CAMP
	   	SET	tempsave_flag = #{campTempSave}
	   		, camp_reg_date = #{campRegDate}
			, camp_summery = #{campSummery}
			, camp_detail = #{campDetail}
			, camp_map_img = #{campMapImg}
			, camp_img1 =  #{campImg1}
			, camp_img2 = #{campImg2}
			, camp_img2 = #{campImg3}
			, camp_img4 = #{campImg4}
			, camp_img5 = #{campImg5}
			, camp_theme1 = #{campTheme1}
			, camp_theme2 = #{campTheme2}
			, camp_nature1 = #{campNature1}
			, camp_nature2 = #{campNature2}
			, camp_operation1 = #{campOperation1}
			, camp_operation2 = #{campOperation2}  	
	   	WHERE camp_no = #{campNo}
	</update>
	
	<update	id="deleteCamp"	parameterType="int" >
	   	UPDATE CAMP
	   	SET delete_flag = 'T'
	   	WHERE camp_no = #{value}
	</update>
	
	<select	id="getCampNoById" parameterType="String" resultType="int">
	   	SELECT camp_no
	   	FROM CAMP
	   	WHERE user_id = #{value}
	</select>
	
	<select	id="getCampTempSaveById" parameterType="String" resultType="int">
	   	SELECT tempsave_flag
	   	FROM CAMP
	   	WHERE user_id = #{value}
	</select>
	
	<select id="getCampReservationCount" parameterType="int">
		SELECT COUNT(*)
		FROM (	SELECT mainsite_reservation_start, mainsite_reservation_end
				FROM MAINSITE
				WHERE camp_no = #{value}
					AND mainsite_reservation_start <![CDATA[>=]]> date_format(now(), '%Y%m%d')
					AND mainsite_reservation_end <![CDATA[<=]]> date_format(now(), '%Y%m%d') )countTable
	</select>
	

	
	<!-- SQL : MainSite ################################################################################################################### -->
	
	<insert id="getRegNumInMainSite" parameterType="mainSite" >	
		INSERT 
		INTO MAINSITE ( camp_no, mainsite_type, mainsite_name, mainsite_min_capacity, mainsite_max_capacity,
					mainsite_min_price, mainsite_add_price, mainsite_reg_date)			
		VALUES	 ( #{campNo}
					, #{mainSiteType}					
					, #{mainSiteName}
					, #{mainSiteMinCapacity}
					, #{mainSiteMaxCapacity}
					, #{mainSiteMinPrice}
					, #{mainSiteAddPrice}
					, #{mainSiteRegDate} )
	</insert>
		
	<select	id="getRegNumOutMainSite" parameterType="mainSite" resultType="int">
	   	SELECT mainsite_no
	   	FROM MAINSITE
	   	WHERE mainsite_reg_date = #{mainSiteRegDate}
	   		AND mainsite_name = #{mainSiteName}
	</select>
	
	<insert id="addMainSite" parameterType="mainSite" >	
		INSERT 
		INTO MAINSITE ( camp_no, mainsite_type, mainsite_name, mainsite_section, mainsite_size, 
						mainsite_min_capacity, mainsite_max_capacity, mainsite_min_price, mainsite_add_price, mainsite_parking_size, 
						mainsite_info, mainsite_reg_date, mainsite_img1, mainsite_img2, mainsite_img3 )	
		VALUES	 ( #{campNo}
					, #{mainSiteType}
					, #{mainSiteName}
					, #{mainSiteSection :VARCHAR}
					, #{mainSiteSize :VARCHAR}
					, #{mainSiteMinCapacity}
					, #{mainSiteMaxCapacity}
					, #{mainSiteMinPrice}
					, #{mainSiteAddPrice}
					, #{mainSiteParkingSize}
					, #{mainSiteInfo :VARCHAR}
					, #{mainSiteRegDate}
					, #{mainSiteImg1 :VARCHAR}
					, #{mainSiteImg2 :VARCHAR}
					, #{mainSiteImg3 :VARCHAR} )
	</insert>

	<select id="getMainSite" parameterType="int" resultMap="mainSiteSelectMap">
		SELECT 	*
		FROM MAINSITE
		WHERE mainsite_no = #{value}
	</select>
	
	<select id="listMainSite" parameterType="search" resultMap="mainSiteSelectMap">
  		SELECT m.delete_flag, m.camp_no, m.mainsite_no, m.mainsite_type, m.mainsite_name, m.mainsite_section,  
	  			m.mainsite_reservation_start, m.mainsite_reservation_end, m.mainsite_reservation_user_name, u.camp_name  								  		
		FROM MAINSITE m, CAMP c, USERS u
		WHERE m.camp_no = c.camp_no
			AND  c.user_id  =  u.user_id					
			<if test="role != 'ADMIN'">
				AND  m.camp_no  =  #{campNo}
			</if>					
			<if test="searchCondition != null">
				<if test="searchCondition == 1 and searchKeyword !='' ">
					AND m.mainsite_name = #{searchKeyword}
				</if>
				<if test="searchCondition == 2 and searchKeyword !='' ">
					AND m.mainsite_type = #{searchKeyword}
				</if>
				<if test="searchCondition == 3 and searchKeyword !='' ">
					AND m.mainsite_section = #{searchKeyword}
				</if>
				<if test="searchCondition == 4 and searchKeyword !='' ">
					AND m.mainsite_reservation_user_name = #{searchKeyword}
				</if>
			</if>
		ORDER BY mainsite_no 
		LIMIT #{pageSize} OFFSET #{offset};			
	</select>
	
	<select id="getTotalCountMainSite" parameterType="search" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT 	m.delete_flag, m.camp_no, m.mainsite_no, m.mainsite_type, m.mainsite_name, m.mainsite_section,  
	  						m.mainsite_reservation_start, m.mainsite_reservation_end, m.mainsite_reservation_user_name, u.camp_name  								  		
				FROM 	MAINSITE m, CAMP c, USERS u
				WHERE 	m.camp_no = c.camp_no
						AND  c.user_id  =  u.user_id					
						<if test="role != 'ADMIN'">
							AND  m.camp_no  =  #{campNo}
						</if>					
						<if test="searchCondition != null">
							<if test="searchCondition == 1 and searchKeyword !='' ">
								AND m.mainsite_name = #{searchKeyword}
							</if>
							<if test="searchCondition == 2 and searchKeyword !='' ">
								AND m.mainsite_type = #{searchKeyword}
							</if>
							<if test="searchCondition == 3 and searchKeyword !='' ">
								AND m.mainsite_section = #{searchKeyword}
							</if>
							<if test="searchCondition == 4 and searchKeyword !='' ">
								AND m.mainsite_reservation_user_name = #{searchKeyword}
							</if>
						</if>
			) countTable						
	</select>
		
	<update	id="updateMainSite" parameterType="mainSite" >
	   	UPDATE MAINSITE
	   	SET	mainsite_type = #{mainSiteType}
			, mainsite_name = #{mainSiteName}
			, mainsite_section = #{mainSiteSection}
			, mainsite_size = #{mainSiteSize}
			, mainsite_min_capacity =  #{mainSiteMinCapacity}
			, mainsite_max_capacity = #{mainSiteMaxCapacity}
			, mainsite_min_price = #{mainSiteMinPrice}
			, mainsite_add_price = #{mainSiteAddPrice}
			, mainsite_parking_size = #{mainSiteParkingSize}
			, mainsite_reg_date = #{mainSiteRegDate}
			, mainsite_info = #{mainSiteInfo}
			, mainsite_img1 = #{mainSiteImg1}
			, mainsite_img2 = #{mainSiteImg2}
			, mainsite_img3 = #{mainSiteImg3}   	
	   	WHERE mainsite_no = #{mainSiteNo}
	</update>
	
	<update	id="deleteMainSite" parameterType="int" >
	   	UPDATE MAINSITE
	   	SET	delete_flag = 'T'
	   	WHERE mainsite_no = #{value}
	</update>
	
	
	
	
	<!-- SQL : SubSite ################################################################################################################### -->
	
	<insert id="getRegNumInSubSite" parameterType="subSite" >	
		INSERT 
		INTO SUBSITE ( camp_no, subsite_type, subsite_name, subsite_reg_date)			
		VALUES	 ( #{campNo}
					, #{subSiteType}					
					, #{subSiteName}
					, #{subSiteRegDate} )
	</insert>
		
	<select	id="getRegNumOutSubSite" parameterType="subSite" resultType="int">
	   	SELECT subsite_no
	   	FROM SUBSITE
	   	WHERE subsite_reg_date = #{subSiteRegDate}
	   		AND subsite_name = #{subSiteName}
	</select>

	<insert id="addSubSite"	parameterType="subSite" >	
		INSERT 
		INTO SUBSITE (camp_no, subsite_type, subsite_reg_date, subsite_name, subsite_info)
		VALUES	 (	#{campNo} 
					, #{subSiteType} 
					, #{subSiteRegDate} 
					, #{subSiteName} 
					, #{subSiteInfo :VARCHAR} )
	</insert>

	<select id="getSubSite" parameterType="int" resultMap="subSiteSelectMap">
		SELECT 	*
		FROM SUBSITE
		WHERE subsite_no = #{value}
	</select>
	
	<select id="listSubSite" parameterType="search" resultMap="subSiteSelectMap">
  		SELECT  s.camp_no, s.subsite_no, s.subsite_name, s.subsite_type, u.camp_name							  		
		FROM SUBSITE s, CAMP c, USERS u
		WHERE s.camp_no = c.camp_no
			AND  c.user_id  =  u.user_id					
			<if test="role != 'ADMIN'">
				AND  s.camp_no  =  #{campNo}
			</if>					
			<if test="searchCondition != null">
				<if test="searchCondition == 1 and searchKeyword !='' ">
					AND s.subsite_name = #{searchKeyword}
				</if>
				<if test="searchCondition == 2 and searchKeyword !='' ">
					AND s.subsite_type = #{searchKeyword}
				</if>
			</if>
		ORDER BY s.subsite_no 
		LIMIT #{pageSize} OFFSET #{offset};			
	</select>
	
	<select id="getTotalCountSubSite" parameterType="search" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT  s.camp_no, s.subsite_no, s.subsite_name, s.subsite_type, u.camp_name							  		
				FROM SUBSITE s, CAMP c, USERS u
				WHERE s.camp_no = c.camp_no
					AND  c.user_id  =  u.user_id					
					<if test="role != 'ADMIN'">
						AND  s.camp_no  =  #{campNo}
					</if>					
					<if test="searchCondition != null">
						<if test="searchCondition == 1 and searchKeyword !='' ">
							AND s.subsite_name = #{searchKeyword}
						</if>
						<if test="searchCondition == 2 and searchKeyword !='' ">
							AND s.subsite_type = #{searchKeyword}
						</if>
					</if>
			) countTable						
	</select>
	
	<update	id="updateSubSite" parameterType="mainSite" >
	   	UPDATE SUBSITE
	   	SET	subsite_type = #{subSiteType}
			, subsite_name = #{subSiteName}
			, subsite_info = #{subSiteInfo}
			, subsite_reg_date = #{subSiteRegDate}
	   	WHERE subsite_no = #{subSiteNo}
	</update>
	
	<delete id="deleteSubSite" parameterType="int">
        DELETE FROM SUBSITE 
        WHERE subsite_no = #{value}
    </delete>
	
	
	


	
	
	

</mapper>