<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CampSearchMapper">

	<resultMap id="CampSelectMap" type="camp">
		<result property="campNo"	 column="camp_no" 	jdbcType="NUMERIC"/>
		<result property="user.id" column="business_user_id" 	jdbcType="VARCHAR"/>
		<result property="campTempSave" column="tempsave_flag" 	jdbcType="CHAR"/>
		<result property="deleteFlag" column="delete_flag" 	jdbcType="CHAR"/>
		<result property="campSummery" column="camp_summery" 	jdbcType="VARCHAR"/>
		<result property="campDetail" column="camp_detail" 	jdbcType="VARCHAR"/>
		<result property="campMapImg" column="camp_map_img" 	jdbcType="VARCHAR"/>
		<result property="campImg1" column="camp_img1" 	jdbcType="VARCHAR"/>
		<result property="campImg2" column="camp_img2" 	jdbcType="VARCHAR"/>
		<result property="campImg3" column="camp_img3" 	jdbcType="VARCHAR"/>
		<result property="campImg4" column="camp_img4" 	jdbcType="VARCHAR"/>
		<result property="campImg5" column="camp_img5" 	jdbcType="VARCHAR"/>
		<result property="campViewCountCurrentMonth" column="camp_view_count_current_month" 	jdbcType="NUMERIC"/>
		<result property="campViewCountPreviousMonth" column="camp_view_count_previous_month" 	jdbcType="NUMERIC"/>
		<result property="campReservationCount" column="camp_reservation_count" 	jdbcType="NUMERIC"/>
		<result property="campRegDate" column="camp_reg_date" 	jdbcType="DATE"/>
		<result property="campTheme1" column="camp_theme1" 	jdbcType="VARCHAR"/>
		<result property="campTheme2" column="camp_theme2" 	jdbcType="VARCHAR"/>
		<result property="campNature1" column="camp_nature1" 	jdbcType="VARCHAR"/>
		<result property="campNature2" column="camp_nature2" 	jdbcType="VARCHAR"/>
		<result property="campOperation1" column="camp_operation1" 	jdbcType="VARCHAR"/>
		<result property="campOperation2" column="camp_operation2" 	jdbcType="VARCHAR"/>
		<result property="campName" column="camp_name" 	jdbcType="VARCHAR"/>
		<result property="campAddr" column="addr" 	jdbcType="VARCHAR"/>
		<result property="campCall" column="camp_call" 	jdbcType="VARCHAR"/>
		<result property="campRate" column="camp_rating" 	jdbcType="FLOAT"/>
	</resultMap>
	
	<select id="listCamp"  parameterType="search"  resultMap="CampSelectMap">
		select c.camp_no, c.camp_img1, c.camp_img2, c.camp_img3, c.camp_img4, c.camp_img5, c.camp_reg_date, c.camp_rating, c.camp_view_count_previous_month, c.camp_summery, u.camp_name, u.addr, u.camp_call 
		from gamsung.camp c, gamsung.mainsite m, gamsung.subsite s, gamsung.users u
		where c.business_user_id = u.user_id and c.camp_no = m.camp_no and c.camp_no = s.camp_no 
			<if test="searchKeyword !=null and searchKeyword !=''">
	 			and u.camp_name = '%'||#{searchKeyword}||'%'
			</if>
			<if test="campAddr !=null and campAddr.size !=0">
				and u.addr In
				<foreach collection="campAddr" item="item" index="index" open="(" close=")" separator=",">
					'%'||#{item}||'%'
				</foreach>
	 		</if>
			<if test="mainSite !=null and mainSite.size !=0">
	 			and m.mainsite_type In
				<foreach collection="mainSite" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="subSite !=null and subSite.size !=0">
	 			and s.subsite_type In
				<foreach collection="subSite" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="circumstance !=null and circumstance.size !=0">
	 			and c.camp_nature1 In
				<foreach collection="circumstance" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="circumstance !=null and circumstance.size !=0">
	 			and c.camp_nature2 In
				<foreach collection="circumstance" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="theme !=null and theme.size !=0">
	 			and c.camp_theme1 In
				<foreach collection="theme" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="theme !=null and theme.size !=0">
	 			and c.camp_theme2 In
				<foreach collection="theme" item="item" index="index" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="price !=null">
	 			and m.mainsite_min_price between #{price}
			</if>
		order by u.camp_name;
	</select>
	
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
					FROM camp) countTable						
	 </select>
	
	
</mapper>