<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CampBusinessMapper"> 	
 	
	<resultMap id="campBusinessSelectMap" type="camp">
		<result property="prodNo" 			column="prod_no" 		  	jdbcType="NUMERIC"/>
		<result property="prodName"			column="prod_name" 		  	jdbcType="VARCHAR"/>
		<result property="prodDetail" 		column="prod_detail" 	  	jdbcType="VARCHAR"/>
		<result property="manuDate" 		column="manufacture_day"  	jdbcType="VARCHAR"/>
		<result property="price" 			column="price" 			  	jdbcType="NUMERIC"/>
		<result property="fileName" 		column="image_file" 	  	jdbcType="VARCHAR"/>
		<result property="regDate" 			column="reg_date" 		 	jdbcType="DATE"/>
		<result property="proTranCode" 		column="tran_status_code" 	jdbcType="CHAR"/>
	</resultMap>
	

	<!-- SQL : INSERT -->
	<insert id="addCamp"	parameterType="camp" >
	 	INSERT
	 	INTO product( business_user_id,  tempsave_flag,  delete_flag,  camp_summery,  camp_reg_date,  
	 					camp_theme1,  camp_theme2,  camp_nature1,  camp_nature2,  camp_operation1,  camp_operation2,  
	 					camp_view_count_previous_month,  camp_view_count_current_month,  camp_reservation_count,  camp_rating)
		VALUES	 (	#{businessUser:VARCHAR} 
					, #{prodDetail:VARCHAR} 
					, #{manuDate:VARCHAR} 
					, #{price:NUMERIC} 
					, #{fileName:VARCHAR}
					, SYSDATE	)
	 </insert>
	  
	
</mapper>