<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<!-- 
		<typeAlias alias="user" type="com.model2.mvc.service.domain.User" />
		<typeAlias alias="search" type="com.model2.mvc.common.Search" />
		<typeAlias alias="product" type="com.model2.mvc.service.domain.Product" />
		<typeAlias alias="purchase" type="com.model2.mvc.service.domain.Purchase" />
		 -->

		 <typeAlias alias="user" type="site.gamsung.service.domain.User" />
		 <typeAlias alias="search" type="site.gamsung.service.common.Search" />
		 
		 <typeAlias alias="camp" type="site.gamsung.service.domain.Camp" />
		 <typeAlias alias="mainSite" type="site.gamsung.service.domain.MainSite" />
		 <typeAlias alias="subSite" type="site.gamsung.service.domain.SubSite" />
		 <typeAlias alias="payment" type="site.gamsung.service.domain.Payment" />
		 <typeAlias alias="paymentCode" type="site.gamsung.service.domain.PaymentCode" />
		 <typeAlias alias="siteProfit" type="site.gamsung.service.domain.SiteProfit" />
		 <typeAlias alias="auctionProduct" type="site.gamsung.service.domain.AuctionProduct" />

		 <typeAlias alias="notice" type="site.gamsung.service.domain.Notice" />
		
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
	<!-- 
		<mapper resource="sql/UserMapper.xml"/>
		<mapper resource="sql/ProductMapper.xml"/>
		<mapper resource="sql/PurchaseMapper.xml"/>
		
		<mapper resource="sql/CampBusinessMapper.xml"/>
		<mapper resource="sql/PaymentMapper.xml"/> 
	
		<mapper resource="sql/AuctionMapper.xml"/>
 	-->
 		<mapper resource="sql/NoticeMapper.xml"/>
	
		<mapper resource="sql/AuctionMapper.xml"/>

	</mappers>

</configuration>